body{
    color: white;
    background-color:#dddddd;
}
#wrapper{
    width: 90%;
    margin: 0 auto;
    color: black;
    background-color: white;
    min-height: 720px;
    border-radius: 5px;
    padding-bottom: 16px;
    padding-top: 16px;
}
.row{
    width: 100%;
    margin:10px 0;
    column-count:3;
}
.col3{
    width:33%;
    float:left;
    margin:0 2px;
    min-height: 300px;
    background-color: green;
}
p{
    margin:10px;
}
